---
permalink: /
layout: default
---

<section class="section">
    <div class="container is-flex is-justify-content-center is-align-content-center">
        <figure class="image is-256x256">
            {% asset 'logo-min.png' class='is-rounded' %}
        </figure>
    </div>
</section>
<section class="section">
    <div class="container is-large">
        <h1 class="title is-size-1-desktop">
            HACKCLUB INFORMATION HUB
        </h1>
        <p class="subtitle">
            The NDSU Cybersecurity Student Association (aka HackClub) is a peer-learning organization focused on teaching 
            cybersecurity skills to both club members and the general populace. This is accomplished by weekly, student lead 
            meetings on various cyber topics; and participation in cybersecurity competitions and conferences. Though we do 
            regularly participate in competitions, we are not a competitive organization, so participation is optional (but 
            highly recommended for its learning value!).
        </p>
        <p class="subtitle">
            If you would like to join or have any questions feel free to reach out via the links below!
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h3 class="title is-size-2-desktop">
            MEETING TIMES
        </h3>
        <p class="subtitle">
            <div class="table-container">
                <table class="table is-fullwidth is-bordered">
                    <thead>
                        <tr>
                            {% for day in site.data.meta.schedule %}
                                {% unless day.time == "" %}
                                    <th><b>{{ day.weekday | capitalize }}</b></th>
                                {% endunless %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for day in site.data.meta.schedule %}
                            {% unless day.time == "" %}
                            <td>
                                <em>{{ day.time }} at {{ day.location }}</em><br>
                                {{ day.description }}
                            </td>
                            {% endunless %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p><em>(We generally try to stick to this pattern, but be sure to join MyNDSU/Discord to get weekly schedule updates!)</em></p>
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h3 class="title is-size-2-desktop">
            CONTACT INFO
        </h3>
        <div class="card mb-4">
            <div class="card-content">
                <div class="content">
                    <p class="title is-size-2-desktop">
                        Club Officers
                    </p>
                    {% for officer in site.data.meta.officers %}
                    <p class="subtitle">
                        <span class="has-text-weight-bold">{{officer.name}}</span> / <a href="mailto:{{officer.email}}">{{officer.email}}</a>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-content">
                <div class="content">
                    <p class="title is-size-2-desktop">
                        MyNDSU
                    </p>
                    <p class="subtitle">
                        <a href="https://myndsu.ndsu.edu/organization/csa" rel="noopener noreferrer" target="_blank">https://myndsu.ndsu.edu/organization/csa</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-content">
                <div class="content">
                    <p class="title is-size-2-desktop">
                        Discord
                    </p>
                    <p class="subtitle">
                        Having a public join link is scary, email one of the officers to get an invite!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h3 class="title is-size-2-desktop">
            FALL 2021 SEMESTER SCHEDULE
        </h3>
        <p class="subtitle">
            <div class="table-container">
                <table class="table is-fullwidth is-bordered">
                    <thead>
                        <tr>
                            <th>Week #</th>
                            <th>Wednesday Date</th>
                            <th>Topic</th>
                            <th>Presented By</th>
                            <th>Other Events</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in site.data.meta.semester_schedule %}
                            <tr>
                                <td>{{ week.week }}</td>
                                <td>{{ week.date }}</td>
                                <td>{{ week.topic }}</td>
                                <td>{{ week.presenter }}</td>
                                {% unless week.event %}
                                    <td>-</td>
                                {% else %}
                                    <td>{{ week.event }}</td>
                                {% endunless %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title is-size-1-desktop">
            FAQ
        </h1>
        <p class="subtitle">
            <span class="is-size-4-desktop"><b><em>Do I need cybersecurity experience to join?</em></b></span><br/>
            Nope! As long as you are willing to learn and know how to use a keyboard, we accept anyone of any skill level! 
            We try our best to start easy at the beginning of the school year and slowly increase difficulty over time, we
            also have extra activites for those that may already have experience and are looking for a challenge. 
        </p>
        <p class="subtitle">
            <span class="is-size-4-desktop"><b><em>Is there any cost to join?</em></b></span><br/>
            Nope, it is completely free! We are also able to cover competition fees and traveling expeneses to a certain degree, 
            though both of these things do require that you actively participate in whatever event is at hand. 
        </p>
        <p class="subtitle">
            <span class="is-size-4-desktop"><b><em>Is there any sort of laptop/computer requirement at meetings?</em></b></span><br/>
            We do not require you to have a laptop, but almost all meetings work a lot better if you are able to bring a personal
            computer that you can follow along with. If you don't have a laptop, the club has a few spares that you will be able
            to borrow, but a large advantage of having your own is that you'll be able to continue experimenting while not at the meeting.
        </p>
        <p class="subtitle">
            <span class="is-size-4-desktop"><b><em>Do you help students find jobs in cybersecurity?</em></b></span><br/>
            Yes! We frequently attend conferences (well, pre-covid, crossing our fingers for this next school year) which allow you to connect
            with employers, and we also occasionally have companies that come present a meeting and speak about what they do. 
        </p>
        <p class="subtitle">
            <span class="is-size-4-desktop"><b><em>Are you going to have a meeting about X, Y or Z?</em></b></span><br/>
            With a lot of the more common cyber topics there is likely a plan for someone to talk about it at some point, but if there is something 
            that you <em>really</em> wanna hear spoken about at a meeting, we actually invite <em>you</em> to talk about it! The absolute best
            way to learn about a topic is giving a presentation on it yourself, and since we are a peer learning organization we are
            always looking for club members that are willing to present on topics they are excited about. 
        </p>
        <p class="subtitle">
            <span class="is-size-4-desktop"><b><em>Is there any sort of attendance requirement?</em></b></span><br/>
            Nope! Feel free to come to whatever weekly meetings interest you, though we do recommend that you attend as many as possible since cybersecurity
            is a very <em>large</em> field and whatever information you can suck up will almost certainly help you down the line. 
        </p>
        <p class="subtitle">
            <span class="is-size-4-desktop"><b><em>Is there any sort of competition participation requirement?</em></b></span><br/>
            Nope! We are not registered as a competative organization, but participating in competitions is one of the single best ways 
            to expand your cybersecurity knowledge. But If you sign up for a competition and we pay for your fee, you <em>need</em> 
            to compete (circumstance permitting). Another bonus of frequent participation is that it gives you higher priority for 
            trips/competitions that have a limited number of slots. 
        </p>
        <p class="subtitle">
            <span class="is-size-4-desktop"><b><em>How do I get up to QBB 422?</em></b></span><br/>
            After 5PM there is a chance the elevators will require badge access to go to the 4th floor, send a message in the Discord and
            someone will be able to call the elevator while you're in it and it will bring you up. 
        </p>
        <p class="subtitle has-text-centered pt-4">
            <b>If you have any other questions, please reach out to us via any of the methods listed above!</b>
        </p>
    </div>
</section>
<!-- 
    /b99cc420eb25205168e83190bae48a12.txt
-->
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            &#169; 2021 NDSU CSA 
        </p>
    </div>
</footer>