---
permalink: /
layout: default
---

<section class="section">
    <div class="container is-flex is-justify-content-center is-align-content-center">
        <figure class="image is-256x256">
            {% asset 'logo-min.png' class='is-rounded' %}
        </figure>
    </div>
</section>
<section class="section">
    <div class="container is-large">
        <h1 class="title is-size-1-desktop">
            HACKCLUB INFORMATION HUB
        </h1>
        <p class="subtitle">
            The NDSU Cybersecurity Student Association (aka HackClub) is a peer-learning organization focused on teaching 
            cybersecurity skills to both club members and the general populace. This is accomplished by weekly, student lead 
            meetings on various cyber topics; and participation in cybersecurity competitions and conferences. Though we do 
            regularly participate in competitions, we are not a competitive organization, so participation is optional (but 
            highly recommended for its learning value!).
        </p>
        <p class="subtitle">
            If you would like to join or have any questions feel free to reach out via the links below!
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h3 class="title is-size-2-desktop">
            MEETING TIMES
        </h3>
        <p class="subtitle">
            <div class="table-container">
                <table class="table is-fullwidth is-bordered">
                    <thead>
                        <tr>
                            {% for day in site.data.meta.schedule %}
                                {% unless day.whenwhere == "" %}
                                    <th><b>{{ day.weekday | capitalize }}</b></th>
                                {% endunless %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for day in site.data.meta.schedule %}
                            {% unless day.whenwhere == "" %}
                            <td>
                                <em>{{ day.whenwhere }}</em><br>
                                {{ day.description }}
                            </td>
                            {% endunless %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p><em>(We generally try to stick to this pattern, but be sure to join MyNDSU/Discord to get weekly schedule updates!)</em></p>
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h3 class="title is-size-2-desktop">
            CONTACT INFO
        </h3>
        <div class="card mb-4">
            <div class="card-content">
                <div class="content">
                    <p class="title is-size-2-desktop">
                        Club Officers
                    </p>
                    {% for officer in site.data.meta.officers %}
                    <p class="subtitle">
                        <span class="has-text-weight-bold">{{officer.name}}</span> / <a href="mailto:{{officer.email}}">{{officer.email}}</a>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-content">
                <div class="content">
                    <p class="title is-size-2-desktop">
                        MyNDSU
                    </p>
                    <p class="subtitle">
                        <a href="https://myndsu.ndsu.edu/organization/csa" rel="noopener noreferrer" target="_blank">https://myndsu.ndsu.edu/organization/csa</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-content">
                <div class="content">
                    <p class="title is-size-2-desktop">
                        Discord
                    </p>
                    <p class="subtitle">
                        Having a public join link is scary. Email one of the officers to get an invite!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h3 class="title is-size-2-desktop">
            SPRING 2024 SEMESTER SCHEDULE
        </h3>
        <p class="subtitle">
            <div class="table-container">
                <table class="table is-fullwidth is-bordered">
                    <thead>
                        <tr>
                            <th>Week #</th>
                            <th>Wednesday Date</th>
                            <th>Topic</th>
                            <th>Presented By</th>
                            <th>Other Events</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in site.data.meta.semester_schedule %}
                            <tr>
                                <td>{{ week.week }}</td>
                                <td>{{ week.date }}</td>
                                <td>{{ week.topic }}</td>
                                <td>{{ week.presenter }}</td>
                                {% unless week.event %}
                                    <td>~</td>
                                {% else %}
                                    <td>{{ week.event }}</td>
                                {% endunless %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title is-size-1-desktop">
            FAQ
        </h1>
        {% for question in site.data.meta.faq %}
        <p class="subtitle">
            <span class="is-size-4-desktop"><b><em>{{ question.question }}</em></b></span><br/>
            {{ question.answer }}
        </p>
        {% endfor %}
        
        <p class="subtitle has-text-centered pt-4">
            <b>If you have any other questions, please reach out to us via any of the methods listed above!</b>
        </p>
    </div>
</section>
<!-- 
    /b99cc420eb25205168e83190bae48a12.txt
-->
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            &#169; 2024 NDSU CSA 
        </p>
    </div>
</footer>